img{
    display: block;
    margin: auto;
    height: 400px;
    width: 300px;
    border-radius: 150px;
}
p{
    text-align: center;
    font-size: 18px;
    width: 600px;
    height: 30px;
    border-radius: 15px;
    
}
.center-text{
    text-align: center;
    margin-top: 100px;
}
body{
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    background-color: rgb(54, 150, 104);
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center;
}
.container{
    text-align: center;
}
